{
  "exclude": [
    "tests/",
    "coverage/",
    ".eslintrc.js",
    "actions/"
  ],
  "extension": [
    ".js"
  ],
  "cache": true,
  "all": true,
  "default-excludes": true,
  "check-coverage": true,
  "statements": 95,
  "branches": 95,
  "functions": 95,
  "lines": 95,
  "skip-full": true
}
